<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Key0" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySql Data Provider" invariant="MySql.Data.MySqlClient" description =".Net Framework Data For My Sql" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="AddressBook" 
			 connectionString="Server=localhost;Port=3306;Database=addressbook;Uid=root;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>